.lang-link {
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-right: 24px;
    background-position: 100% -3px;
}

.lang-sv {
    background-image: url(../img/swe-flag.png);
}

.lang-en {
    background-image: url(../img/eng-flag.png);
}